<section id="features_area" class="section_padding text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Features you’ll love</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="single_feature wow slideInUp" data-wow-duration="1s">
                    <i class="fa fa-user"></i>
                    <h3>Great Selection</h3>
                    <p>We have a huge selection of vehicles to meet any taste and budget.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="single_feature wow slideInUp" data-wow-duration="2s">
                    <i class="fa fa-flag"></i>
                    <h3>High Quality</h3>
                    <p>Our services are only of the highest possible quality.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="single_feature wow slideInUp" data-wow-duration="3s">
                    <i class="fa fa-paint-brush"></i>
                    <h3>The Lowest Prices</h3>
                    <p>Low prices are the cornerstone of our vision, business idea and concept.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>