<header id="header_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="logo">
                    <h2>
						<a href="/">
							<!--<span>T</span>ransportation-->
                            <span>T</span>ransport
						</a>
					</h2>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="mainmenu">
                    <div main-menu></div>                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="header_area_text">
                    <h2 class="wow slideInDown" data-wow-duration="2s">Transportation</h2>
					<h3 class="wow slideInDown" data-wow-duration="2s">and Logistics Solutions</h3>
                    <p class="wow slideInUp">
						We specialize in a variety of logistics services. Our aim is
						to deliver the top level of logistics based on your requests. We hope that with our services you
						will receive the most personalized help in transporting any kind of cargos to any distances, even
						overseas. Discover the amazing world of logistics with Trans!
					</p>
                    <a class="wow slideInUp" data-wow-duration="2s" href="">MAKE AN ORDER</a>
					<a class="wow slideInUp" data-wow-duration="2s" href="">LEARN MORE</a>
                </div>
            </div>
        </div>
    </div>
</header>