<div class="container" ng-cloak>
	<h2>{{ formTitle }}</h2>
    <form name="formCustomer" class="form form-horizontal" ng-submit="submit()">
        <div class="form-group">
            <div class='control-label col-sm-8 message-error'
                 ng-show='(messageError.length > 0)'>{{ messageError }}</div>
        </div>

        <div class="form-group">
            <label for="CustomerName" class="col-sm-2 control-label">Customer Name</label>
            <div class="col-sm-6">
                <input name="CustomerName" ng-model="customer.CustomerName" class="form-control" placeholder="Customer Name" required maxlength="20" />
            </div>
            <div class='control-label col-sm-8 message-error'
                 ng-show='(isSubmitted && formCustomer.CustomerName.$invalid)'>Customer Name is required</div>
        </div>        

		<div class="form-group">
            <label for="Email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-6">
                <input name="Email" ng-model="customer.Email" class="form-control" placeholder="Email" required maxlength="50" />
            </div>
            <div class='control-label col-sm-8 message-error'
                 ng-show='(isSubmitted && formCustomer.Email.$invalid)'>Email is required</div>
		</div>

		<div class="form-group">
            <label for="Mobile" class="col-sm-2 control-label">Mobile</label>
            <div class="col-sm-6">
                <input name="Mobile" ng-model="customer.Mobile" class="form-control" placeholder="Mobile" required maxlength="50" />
            </div>
            <div class='control-label col-sm-8 message-error'
                 ng-show='(isSubmitted && formCustomer.Mobile.$invalid)'>Mobile is required</div>
		</div>

		<div class="form-group">
            <label for="Tel" class="col-sm-2 control-label">Telephone</label>
            <div class="col-sm-6">
                <input name="Tel" ng-model="customer.Tel" class="form-control" placeholder="Telephone" required maxlength="50" />
            </div>
            <div class='control-label col-sm-8 message-error'
                 ng-show='(isSubmitted && formCustomer.Tel.$invalid)'>Telephone is required</div>
		</div>

		<div class="form-group">
            <label for="Fax" class="col-sm-2 control-label">Fax</label>
            <div class="col-sm-6">
                <input name="Fax" ng-model="customer.Fax" class="form-control" placeholder="Fax" required maxlength="50" />
            </div>
            <div class='control-label col-sm-8 message-error'
                 ng-show='(isSubmitted && formCustomer.Fax.$invalid)'>Fax is required</div>
		</div>

		<div class="form-group">
            <label for="Title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-6">
                <input name="Title" ng-model="customer.Title" class="form-control" placeholder="Title" required maxlength="50" />
            </div>
            <div class='control-label col-sm-8 message-error'
                 ng-show='(isSubmitted && formCustomer.Title.$invalid)'>Title is required</div>
		</div>

		<div class="form-group">
            <label for="Address" class="col-sm-2 control-label">Address</label>
            <div class="col-sm-6">
                <input name="Address" ng-model="customer.Address" class="form-control" placeholder="Address" required maxlength="50" />
            </div>
            <div class='control-label col-sm-8 message-error'
                 ng-show='(isSubmitted && formCustomer.Address.$invalid)'>Address is required</div>
		</div>

		<div class="form-group">
            <label for="Description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-6">
                <textarea name="Description" ng-model="customer.Description" class="form-control" placeholder="Description" maxlength="250" />
            </div>            
        </div>
        
        <div class="form-group">
            <div class='control-label col-sm-8 message-success'
                 ng-show='(messageSuccess.length > 0)'>{{ messageSuccess }}</div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="button" 
                       class="btn btn-primary"
                       value="Submit" 
                       ng-click="submit()"
                       ng-disabled="(formCustomer.$invalid || isSubmitting)"/>
                <input type="button"
					   class="btn btn-primary"
                       value="Cancel"
                       ng-click="cancel()"
                       ng-disabled="isSubmitting" />
            </div>
        </div>
    </form>
</div>    

