<div class="container" ng-cloak>
	<h2>{{ formTitle }}</h2>
    <form name="formGroup" class="form form-horizontal">
        <div class="form-group">
            <div class='control-label col-sm-8 message-error'
                 ng-show='(messageError.length > 0)'>{{ messageError }}</div>
        </div>

        <div class="form-group">
            <label for="GroupName" class="col-sm-2 control-label">Group Name</label>
            <div class="col-sm-6">
                <input name="GroupName" ng-model="group.GroupName" class="form-control" placeholder="Group Name" minlength="5" maxlength="20" required/>
            </div>            
            <div class='control-label col-sm-8 message-error' ng-show='((isSubmitted || formGroup.GroupName.$dirty) && formGroup.GroupName.$error.required)'>Group Name is required</div>
            <div class='control-label col-sm-8 message-error' ng-show='((isSubmitted || formGroup.GroupName.$dirty) && formGroup.GroupName.$error.minlength)'>Group Name is too short</div>
            <div class='control-label col-sm-8 message-error' ng-show='((isSubmitted || formGroup.GroupName.$dirty) && formGroup.GroupName.$error.maxlength)'>Group Name is too long</div>
        </div>

		<div class="form-group">
            <label for="Description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-6">
                <textarea name="Description" ng-model="group.Description" class="form-control" placeholder="Description"/>
            </div>
		</div>

        <div class="form-group">
            <div class='control-label col-sm-8 message-success'
                 ng-show='(messageSuccess.length > 0)'>{{ messageSuccess }}</div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="button" class="btn btn-primary" value="Submit" 
                       ng-click="submit(group)" ng-disabled="(isSubmitting)"/>
                <input type="button" class="btn btn-primary" value="Cancel"
                       ng-click="cancel()" ng-disabled="(isSubmitted || isSubmitting)"/>
                <span ng-show="isSubmitting">                
                    <img ng-if="isSubmitting" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                </span>
            </div>
        </div>
    </form>
</div>