<style>
    body {                
        font-family: "Roboto", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    
        background-image: url(../images/bg.jpg);
        background-position: center;
        background: -webkit-linear-gradient(right);
        background: -moz-linear-gradient(right);
        background: -o-linear-gradient(right);
        background: linear-gradient(to left);
    }
    @media(min-width:768px) {
        #wrapper {            
            padding-left: 225px;
            padding-right: 225px;            
        }
        #page-wrapper {
            background-color: transparent;
        }
        .well.ng-scope {
            background-color: transparent;
            border: none;
        }
    }

    .login-page {
        width: 360px;
        padding: 8% 0 0;
        margin: auto;
    }
    .login-page .login-panel {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
    .login-page .login-panel input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }
    .login-page .login-panel button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #4CAF50;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
    }
    .login-page .login-panel button:hover,.login-panel button:active,.login-panel button:focus {
        background: #43A047;
    }
    .login-page .login-panel .message {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 12px;
    }
    .login-page .login-panel .message a {
        color: #4CAF50;
        text-decoration: none;
    }
    .login-page .login-panel .register-form {
        display: none;
    }
    .login-page .container {
        position: relative;
        z-index: 1;
        max-width: 300px;
        margin: 0 auto;
    }
    .login-page .container:before, .container:after {
        content: "";
        display: block;
        clear: both;
    }
    .login-page .container .info {
        margin: 50px auto;
        text-align: center;
    }
    .login-page .container .info h1 {
        margin: 0 0 15px;
        padding: 0;
        font-size: 36px;
        font-weight: 300;
        color: #1a1a1a;
    }
    .login-page .container .info span {
        color: #4d4d4d;
        font-size: 12px;
    }
    .login-page .container .info span a {
        color: #000000;
        text-decoration: none;
    }
    .login-page .container .info span .fa {
        color: #EF3B3A;
    }    
</style>

<div class="login-page">
	<div class="login-panel">
        <div ng-show="error" class="alert alert-danger message-error">
            <!-- <div class="row">{{ error.code }}</div> -->
            <div class="row">{{ error.message }}</div>
        </div>
        <div ng-show="dataLoading">
            <div class="row">
                <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>
        </div>
		<form id="loginForm" ng-submit="login()" class="login-form" role="form">
            <input type="text" 
                   name="username"
                   ng-model="username"
                   placeholder="username" 
                   maxlength="20"
                   required />
            <input type="password" 
                   name="password"
                   ng-model="password"
                   placeholder="password"
                   maxlength="20"
                   required />
			<button type="submit">login</button>			
			<p class="message">
				<span style="font-size: 18px;"><a href="/">Back to Home Page</a></span>
			</p>
        </form>        
	</div>
</div>