<div class="container" ng-cloak>
    <h2>{{ formTitle }}</h2>    
    <form name="formProduct" class="form form-horizontal">
        <div class="form-group">
            <div class='control-label col-sm-8 message-error'
                 ng-show='(messageError.length > 0)'>{{ messageError }}</div>
        </div>

        <div class="form-group">
            <label for="ProductCode" class="col-sm-2 control-label">Product Code</label>
            <div class="col-sm-6">
                <input name="ProductCode" ng-model="product.ProductCode" class="form-control" placeholder="Product Code" maxlength="20" required/>
            </div>
            <div class='control-label col-sm-8 message-error'
                 ng-show='formProduct.ProductCode.$dirty && formProduct.ProductCode.$invalid'>Please input Code</div>
        </div>

        <div class="form-group">
            <label for="ProductName" class="col-sm-2 control-label">Product Name</label>
            <div class="col-sm-6">
                <input name="ProductName" ng-model="product.ProductName" class="form-control" placeholder="Product Name" maxlength="20" required/>
            </div>
            <div class='control-label col-sm-8 message-error'
                 ng-show='formProduct.ProductName.$dirty && formProduct.ProductName.$invalid'>Please input Name</div>
        </div>

        <div class="form-group">
            <label for="BrandId" class="col-sm-2 control-label">Brand</label>
            <div class="col-sm-6">
                <!-- <input name="BrandId" ng-model="product.BrandId" class="form-control" placeholder="BrandId" maxlength="50" required/> -->                
                <select name="BrandId" class="form-control" ng-model="product.BrandId">
                    <option ng-repeat="b in brands" ng-value="{{b.BrandId}}" ng-selected="{{product.BrandId == b.BrandId}}">{{b.BrandName}}</option>
                </select>
            </div>
        </div>

		<div class="form-group">
            <label for="Price" class="col-sm-2 control-label">Price</label>
            <div class="col-sm-6">
                <input name="Price" ng-model="product.Price" class="form-control" placeholder="Price" maxlength="50" required/>
            </div>
            <div class='control-label col-sm-8 message-error'
                 ng-show='formProduct.Price.$dirty && formProduct.Price.$invalid'>Please input Price</div>
        </div>

        <div class="form-group">
            <label for="Colour" class="col-sm-2 control-label">Colour</label>
            <div class="col-sm-6">
                <input name="Colour" ng-model="product.Colour" class="form-control" placeholder="Color" maxlength="10" required/>
            </div>
            <div class='control-label col-sm-8 message-error'
                 ng-show='formProduct.Colour.$dirty && formProduct.Colour.$invalid'>Please input Colour</div>
        </div>

		<div class="form-group">
            <label for="Description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-6">
                <input name="Description" ng-model="product.Description" class="form-control" placeholder="Description" maxlength="50" required/>
            </div>
            <div class='control-label col-sm-8 message-error'
                 ng-show='formProduct.Description.$dirty && formProduct.Description.$invalid'>Please input Description</div>
		</div>

        <div class="form-group">
            <div class='control-label col-sm-8 message-success'
                 ng-show='(messageSuccess.length > 0)'>{{ messageSuccess }}</div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="button" class="btn btn-primary" value="Submit"
                       ng-click="submit(product)" ng-disabled="(isSubmitting)"/>
                <input type="button" class="btn btn-primary" value="Cancel"
                       ng-click="cancel()" ng-disabled="(isSubmitted || isSubmitting)"/>
                <span ng-show="isSubmitting">
                    <img ng-if="isSubmitting" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                </span>
            </div>
        </div>
    </form>
</div>