<div class="login-page">
	<div class="form">
		<form class="register-form">
			<input type="text" placeholder="name"/>
			<input type="password" placeholder="password"/>
			<input type="text" placeholder="email address"/>
			<button ng-click="registerAccount()">Register</button>
			<p class="message">
                Already registered? 
                <a href="#" ng-click="signIn()">Sign In</a>
            </p>
		</form>
		<form class="login-form">
			<input type="text" placeholder="username"/>
			<input type="password" placeholder="password"/>
			<button ng-click="login()">login</button>
			<p class="message">Not registered? 
                <a href="#" ng-click="createAccount()">Create an account</a></p>
			<p class="message">
				<span style="font-size: 18px;"><a href="/">Back to Home Page</a></span>
			</p>
		</form>
	</div>
</div>