<div class="mainmenu">
    <div class="navbar navbar-nobg">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a>
                </li>
                <li><a href="/about-us">About</a>
                </li>
                <li><a href="/service-us">Services</a>
                </li>
                <li><a href="#">Price List</a>
                </li>
                <li><a href="/contact-us">Contact</a>
                </li>
                <li>
                    <!-- <a href="/login">Login</a> -->
                    <a href="/admin">Login</a>
                </li>
            </ul>
        </div>
    </div>
</div>