<div class="form-ng-pagination">
    <ul uib-pagination 
        boundary-links="true" 
        total-items="pagination.hitsTotal" 
        ng-model="pagination.pageCurrent"
        max-size="pagination.maxSize"
        ng-change="changePageCurrent(newVal, oldVal)"
        class="pagination-sm" 
        previous-text="&lsaquo;" 
        next-text="&rsaquo;" 
        first-text="&laquo;" 
        last-text="&raquo;">
    </ul>
    <select name="pageSize"
        class="form-control"
        ng-model="pagination.pageSize" 
        ng-change="changePageSize()"
        ng-options="item as item for item in pagination.lstPageSize">
    </select>
</div>